<!DOCTYPE html>
<html lang="en">
<style>
.center {
    margin: auto;
    width: 33%;
}
h1 {text-align: center;}
h3 {text-align: center;}
</style>
<head>
    <title>Diffie-Hellman Cracker</title>
</head>
<body>
    <h1>Diffie-Hellman Cracker</h1>
    <div class="center">
        <h3>Settings</h3>
        <form method="POST">        
            <p>Choose a preferred bit length of the prime number which will be used: </p>
            <input type="number" name="bitlen" min="3" max="60" value="20"><br>

            <p>Choose a method of cracking:</p>
            <input type="radio" id="bf" name="method" value="1">
            <label for="bf">Brute Force</label><br>

            <input type="radio" id="bsgs" name="method" value="2">
            <label for="bsgs">Baby-step Giant-step algorithm</label><br>

            <input type="submit" value="Run cracker">
        </form>
    </div>
</body>
</html>