<!DOCTYPE html>
<html lang="en">
<style>
#boxes {
    margin: auto;
    content: "";
    display: table;
    clear: both;
}
div {
    float: left;
    width: 33%;
    padding: 0 10px;
}
h1 {text-align: center;}
h3 {text-align: center;}
<head>
</style>
    <title>Diffie-Hellman Cracker</title>
</head>
<body>
    <h1>Diffie-Hellman Cracker</h1>
    <main id="boxes">
        <h3>Parameters</h3>
        <div class="box">
            <h5>Diffie-Hellman</h5>
            Bit length: {{results.bitlen}}<br>
            Prime number: {{results.prime}}<br>
            Generator: {{results.gen}}<br>
            Alice's private parameter: {{results.pri_a}}<br>
            Bob's private parameter: {{results.pri_b}}<br>
            Alice's public parameter: {{results.pub_a}}<br>
            Bob's public parameter: {{results.pub_b}}
        </div>
        <div class="box">
            <h5>Cracking results</h5>
            Original key: {{results.key_orig}}<br>
            Found key: {{results.key_calc}}<br>
            Used method: {{results.method}}<br>
            Time needed: {{results.time_needed}}
        </div><br>
        <form method="POST">
            <input type="submit" value="Go back">
        </form>
    </main>
</body>
</html>